__pycache__
.DS_Store
.README.md.swp
.get_news.py.swp
.reptile.py.swj
.reptile.py.swk
.reptile.py.swl
.reptile.py.swm
.reptile.py.swn
.reptile.py.swo
.reptile.py.swp
.test.py.swn
.test.py.swo
.test.py.swp
.useaiohttp.py.swo
.useaiohttp.py.swp
.useaiohttp_2.py.swp
